# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
Inc/Backup/
Src/Backup/
MDK-ARM/BY02
MDK-ARM/STM32F030
MDK-ARM/DC_CHARGER_CONTROLLER_HW_TEST
lpc55_lcd_dcore0/debug
lpc55_lcd_dcore1/debug
si_prj
MDK-ARM/startup_stm32f030x6.lst
.tags
.tags_sorted_by_file

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
